{% extends "base.html" %}
{% block title %}NFe Cxo{% endblock %}
{% block content %}
<form action="/nfe/" method="post">
    <div class="form-group">
        <label for="idnfe">GUIA CEGA DE RECEBIMENTO (XML NF-e)</label>
        <input type="number" class="form-control" id="idnfe" name="n-idnfe" placeholder="ID NFe" aria-describedby="idnfe-help">
        <small id="idnfe-help" class="form-text text-muted">Informe a chave de acesso da NFe</small>
    </div>
    <button type="submit" class="btn btn-primary">Confirmar</button>
</form>
{% endblock %}